body{
	margin:0;
	font-family: 'Open Sans', sans-serif;
    background: url(../images/banner.jpg)repeat 0px 0px;
    background-size: cover;
} 
body a,input[type="submit"],a,.w3ls_footer_grid_left1_pos ul li a i{
	transition:.5s ease-in;
	-webkit-transition:.5s ease-in;
	-moz-transition:.5s ease-in;
	-o-transition:.5s ease-in;
	-ms-transition:.5s ease-in;
	text-decoration:none;
}
h1,h2,h3,h4,h5,h6{
	margin:0; 
	font-family: 'Roboto', serif;
}
p{
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
.bg{
	background: #fff;
}
p,ul li,ol li{
	font-size:14px;
}
.colmds{
    width: 84%;
    margin: 0 auto 0;
}
.colmd{
	margin: 2em 0 0; 
}


/*-- Session 1 --*/
.hero {
    display: table;
    position: relative;
    background-image: url(../images/banner2.jpg);
    background-size: cover;
    padding: 150px 0;
    color: #8a6d3b;
    width: 100%;
    height: 100vh;
}
.hero-brand {
    margin-bottom: 75px;
    display: inline-block;
}
a {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.tagline {
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    margin: 0px 0 75px 0;
    padding: 10px;
    color: #8a6d3b;
    background-color: #eee;
    border-top: 2px solid #8a6d3b;
    text-align: justify;
    border-bottom: 2px solid #8a6d3b;
}
.btn {
    background-color: #ffc548;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 800;
    color: #8a6d3b;
    padding: 15px 45px;
    border: 2px solid;
    border-radius: 50px;
}
.btn:hover {
    background-color: #3cbee2;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 800;
    color: #fff;
    padding: 15px 45px;
    border: 2px solid;
    border-radius: 50px;
}
/*-- //Session 1 --*/




/*-- Session 2--*/
.Session_2_Title{
    padding: 2em;
}
/* Carousel Styles */
.carousel-indicators .active {
    background-color: #2980b9;
}
.carousel-inner img {
    width: 100%;
    max-height: 460px
}
.carousel-control {
    width: 0;
}
.carousel-control.left,
.carousel-control.right {
	opacity: 1;
	filter: alpha(opacity=100);
	background-image: none;
	background-repeat: no-repeat;
	text-shadow: none;
}
.carousel-control.left span {
	padding: 15px;
}
.carousel-control.right span {
	padding: 15px;
}
.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right, 
.carousel-control .icon-prev, 
.carousel-control .icon-next {
	position: absolute;
	top: 45%;
	z-index: 5;
	display: inline-block;
}
.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
	left: 0;
}
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
	right: 0;
}
.carousel-control.left span,
.carousel-control.right span {
	background-color: #000;
}
.carousel-control.left span:hover,
.carousel-control.right span:hover {
	opacity: .7;
	filter: alpha(opacity=70);
}
/* Carousel Header Styles */
.header-text {
    position: absolute;
    top: 20%;
    left: 50%;
    right: 1.8%;
    width: 96.66666666666666%;
    color: #fff;
}
.header-text h2 {
    font-size: 3vw;
}
.header-text h2 span {
    background-color: #2980b9;
	padding: 10px;
}
.header-text h3 span {
	background-color: #000;
    padding: 15px;
    display: block;
    width: 50%;
    overflow-wrap: break-word;
    font-size: 3vw;
}
.btn-min-block {
    min-width: 170px;
    line-height: 26px;
}
.btn-theme {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    margin-right: 15px;
}
.btn-theme:hover {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}
/*-- //Session 2 --*/




/*-- Session 3 --*/
.Session_3{
    padding:5vh 1vw;
}
.name{
    color: #848e96;
    text-transform: uppercase;
    font: 400 20px/1 "Poppins",sans-serif;
    margin: 0 0 8px;
}
.edition{
    color: #374048;
    text-transform: uppercase;
    font: 700 33px/1 "Poppins",sans-serif;
    margin: 0 0 10px;
}
.model{
    color: #a8afb5;
    text-transform: uppercase;
    font: 300 16px/1 "Poppins",sans-serif;
    margin: 0 0 20px;
}
.price{
    color: #0084ff;
    font: 600 21px/22px "Poppins",sans-serif;
    margin: 15px 0 25px;
    text-transform: uppercase;
}
.price del{
    color: #808890;
    font-size: 18px;
    font-weight: 300;
    margin-right: 10px;
}
.promo{
    background: #ff840f;
    padding: 3px 15px 0;
    font: 600 11px/15px "Poppins",sans-serif;
    position: relative;
    vertical-align: middle;
    top: -2px;
    width: 100px;
    display: inline-block;
    color: #fff;
}
.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 996px) {
    .preview {
      margin-bottom: 20px; } }
.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }
.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px; }
  .preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; }
    .preview-thumbnail.nav-tabs li img {
      max-width: 100%;
      display: block; }
    .preview-thumbnail.nav-tabs li a {
      padding: 0;
      margin: 0; }
    .preview-thumbnail.nav-tabs li:last-of-type {
      margin-right: 0; }
.tab-content {
  overflow: hidden; }
  .tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3s;
            animation-duration: .3s; }
.card {
  margin-top: 50px;
  background: #eee;
  padding: 3em;
  line-height: 1.5em; }
@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }
.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }
.product-title, .price, .sizes, .colors {
  text-transform: UPPERCASE;
  font-weight: bold; }
.checked {
  color: #ff9f1a; 
}
.product-title, .rating, .product-description, .price, .vote, .sizes {
  margin-bottom: 15px; 
}
.product-title {
  margin-top: 0; 
}
.size {
  margin-right: 10px; 
}
  .size:first-of-type {
    margin-left: 40px; 
}
.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px; }
  .color:first-of-type {
    margin-left: 20px; 
}
.add-to-cart, .like {
  background: #ff9f1a;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
          transition: background .3s ease; }
  .add-to-cart:hover, .like:hover {
    background: #b36800;
    color: #fff; }
.not-available {
  text-align: center;
  line-height: 2em; }
  .not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; }
.orange {
  background: #ff9f1a; 
}
.green {
  background: #85ad00; 
}
.blue {
  background: #0076ad; 
}
.tooltip-inner {
  padding: 1.3em; 
}
@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }
@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }
.soluong{
    color: #6c6e71;
    text-transform: uppercase;
    margin: 12px 0 12px;
    font: 500 16px/1 "Poppins",sans-serif;
    float:left;
    width:92px;
}
.input-g{
    position: relative;
    display: table;
    border-collapse: separate;
    width: 86px;
}
.input-g input{
    width: 48px !important;
    box-shadow: none;
    height: 44px;
    padding: 0;
    text-align: center;
    /* margin: 10px 0px; */
    border-color: #e0e8ee;
}
.muiten{
    position: relative;
    white-space: nowrap;
    width: 38px;
    height: 22px;
    border-color: #e0e8ee;
    padding: 0px;
    border-radius: 0 !important;
    vertical-align: middle;
    display: table-cell;
    outline: none !important;
}
.muiten:hover,
.muiten:active,
.muiten:focus{
    background-color: #fff;
}
.submit{
    float: left;
    display: block;
    text-align: center;
    width: calc(100% - 92px);
    padding: 5px 20px;
}
.submit_button{
    text-transform: uppercase;
    border: none;
    display: block;
    transition: all 300ms linear 0s;
    background: #0084ff;
    color: #FFF;
    overflow: hidden;
    border-radius: 4px;
    font: 600 20px/80px "Poppins",sans-serif;
    text-overflow: ellipsis;
    /*padding: 2px 33px 0;*/
}
.submit_button:hover{
    text-transform: uppercase;
    border: none;
    display: block;
    background: #444;
    color: #FFF;
    overflow: hidden;
    border-radius: 4px;
    font: 600 20px/80px "Poppins",sans-serif;
    text-overflow: ellipsis;
}
/*-- //Session 3 --*/




.session_4{
    background-image: url(images/testimonial.jpg);
}

/*-- Session 4 --*/ 
.dark {
    color: #FFF;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 30px;
}
.testimonial-bg{
    background: linear-gradient(to top, #1e130c , #9a8478);
}
.testimonial{
    margin: 0 15px;
}
.testimonial .testimonial-profile{
    float: left;
    width: 27%;
}
.testimonial .testimonial-profile img{
    width: 100%;
    height: auto;
}
.testimonial .testimonial-content{
    padding-left: 30%;
}
.testimonial .testimonial-title{
    margin-bottom:0;
}
.testimonial .testimonial-title a{
    font-size:15px;
    color: #fff;
    letter-spacing:3px;
    display: block;
    text-transform: uppercase;
    margin-bottom:4px;
}
.testimonial .testimonial-post{
    display:block;
    color: #9c9c9c;
    margin-bottom:10px;
}
.testimonial .testimonial-post:after{
    content:"";
    width:100%;
    display: block;
    margin:10px 0 auto;
    border-top:1px solid #9c9c9c;
}
.testimonial .testimonial-description{
    color:#9c9c9c;
    font-size: 14px;
    line-height:23px;
}
.owl-pagination{
    margin-top: 40px;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span{
    background:#3F4144;
    border:3px solid #fff;
}
@media only screen and (max-width: 767px) {
    .testimonial{
        text-align: center;
        padding-bottom: 5px;
    }
    .testimonial .testimonial-content{
        padding: 0;
    }
    .testimonial .testimonial-profile{
        float:none;
        width: 30%;
        margin: 0 auto;
        padding: 0;
    }
}
/*-- //Session 4 --*/





/*-- Session 5 --*/
.session_5{}
/*-- //Session 5 --*/