/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body{
	margin:0;
	font-family: 'Open Sans', sans-serif;
    background: url(../images/banner.jpg)repeat 0px 0px;
    background-size: cover;
} 
body a,input[type="submit"],a,.w3ls_footer_grid_left1_pos ul li a i{
	transition:.5s ease-in;
	-webkit-transition:.5s ease-in;
	-moz-transition:.5s ease-in;
	-o-transition:.5s ease-in;
	-ms-transition:.5s ease-in;
	text-decoration:none;
}
h1,h2,h3,h4,h5,h6{
	margin:0; 
	font-family: 'Roboto', serif;
}
p{
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
.bg{
	background: #fff;
}
p,ul li,ol li{
	font-size:14px;
}
.colmds{
    width: 84%;
    margin: 0 auto 0;
}
.colmd{
	margin: 2em 0 0; 
}
/*-- main --*/
.main-row{
	height: 100%;
	padding: 5px;
	margin: 2em auto; 
	text-align:center;
}
.frame-border {
    width: 370px;
    height: 690px;
    outline: none;
    border-color: #000;
    border-width: 50px 15px;
    border-style: solid;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    margin: 10px auto; 
    background-size: cover;
}
.main-row h1 {
    text-align: center;
    font-size: 3.5em;
	color:#cf0000;
    margin-bottom:0.4em;
}
.agileinfo_copy_right {
    text-align: center;
    margin: 2em 0;
}
.agileinfo_copy_right p {
    color: #212121;
    line-height: 2em;
    margin: 0;
}
.agileinfo_copy_right p a{
    color:#cf0000;
	text-decoration:underline;
}
.agileinfo_copy_right p a:hover{
    color:#212121;
}
/*-- //main --*/ 
/*-- menu --*/
.mobile-side-menu {
  width: 240px;
  display: none;
  background-color: #1b1b1b;
  bottom: 0px;
  z-index: 30;
  overflow-x: hidden;
  overflow-y: hidden;
  /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}
.mobile-side-menu ul {
  float: none;
  display: inline-block;
  margin: auto;
  width: 100%;
  background-color: #1b1b1b;
  border-radius: 5px;
  list-style: none;
}
.mobile-side-menu ul > li {
  text-align: left;
}
.mobile-side-menu ul > li > a {
	text-transform: uppercase;
    text-decoration: none;
    line-height: 20px;
    position: relative;
    display: block;
    font-size: 14px;
    color: white;
    padding:1em 2em;
    font-weight: 600;
    border-bottom: solid 1px #3f3f3f;
	font-family: 'Open Sans', sans-serif;
}
.mobile-side-menu ul > li > a:hover,.mobile-side-menu ul > li.active > a{
	background:#fff;
	color:#212121;
}
.mobile-side-menu ul > li.active > a i,.mobile-side-menu ul > li > a:hover i{
	color:#cf0000;
}
.mobile-side-menu ul > li > a > i {
    padding-right: 1em;
    color: #f4b305;
}
.noscroll {
  position: fixed;
  right: 0;
  top: 0;
  overflow: hidden;
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 30;
  background-color: rgba(0, 0, 0, 0.7);
}
.navbar {
  background-color:#373737;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: .5em 0;
}
.navbar {
    border-radius: 0;
}
.toggleMenu {
    background: none;
    border: 2px solid #fff;
    padding: 5px 30px;
	outline: none;
	cursor: pointer;
}
.toggleMenu a{
	color:#fff;
	text-transform:uppercase;
	font-size:14px;
	text-decoration:none;
	font-family: 'Open Sans', sans-serif;
}
.w3_agile_nav_main_left{
	float:left;
}
.agile_container{
	padding:.5em 5em;
}
.wthree_social_icons li{
	display:inline-block;
}
.wthree_social_icons li a{
	width:30px;
	height:30px;
	border-radius:30px;
	background:#fff;
	display:block;
	text-align:center;
}
.wthree_social_icons li a i{
	color:#212121;
	font-size:14px;
	line-height:2.2em;
}
.wthree_social_icons li a:hover i{
	color:#fff;
}
.wthree_social_icons li a.w3_agileits_facebook:hover{
	background:#3b5998;	
}
.wthree_social_icons li a.w3_agileits_google:hover{
	background:#dd4b39;	
}
.wthree_social_icons li a.w3_agileits_twitter:hover{
	background:#1da1f2;	
}
.w3_agile_nav_main_right{
	float:right;
}
.navbar {
    margin-bottom: 0;
    border-top: 3px solid #f4b305;
}
.mobile-side-menu ul > li:first-child{
	padding-top:1em;
}
.agileinfo_logo{
	padding: 18em 0 .5em;
    text-align: center;
}
.agileinfo_logo h1 a{
	font-size:1.2em;
	color:#000;
	text-decoration:none;
	position:relative;
	display: inline-block;
}
.agileinfo_logo h1 a span:before,.agileinfo_logo h1 a span:after{
	content:'';
	/*background:url(../images/1.png) no-repeat 0px 0px;*/
	display:block;
	height:32px;
	width:32px;
	position:absolute;
	top:-3%;
}
.agileinfo_logo h1 a span:before{
	left:-25%;
}
.agileinfo_logo h1 a span:after{
	right:-25%;
}
.agileinfo_logo h1 a span{
	display: block;
    font-size: .4em;
    color: #8a6d3b;
    letter-spacing: 2px;
    padding: .7em 1.5em;
    width: 60%;
    position: relative;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    background-color: #eee;
    margin: 0 auto;
    text-align:justify;
}
/*-- //menu --*/
/*-- banner --*/
.banner{
	background:url(../images/banner2.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:700px;
}
.agileits_banner_left{
	float:left;
	width:60%;
	margin: 7em 0 0;
}
.agileits_banner_right{
	float:right;
	width:40%;
}
.agileits_banner_left h2{
	font-size: 2em;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    line-height: 1.5em;
	margin-bottom:1em;
}
.banner-bottom,.reservation,.delicious_food,.footer,.newsletter,.menu,.countdown{
	padding:3em 0;
}
.banner-bottom h3{
	font-size:1.5em;
	color:#212121;
}
.w3layouts_banner_bottom_left{
	text-align:center;
}
.w3layouts_banner_bottom_left h4{
	font-size:1em;
	color:#212121;
	margin:1em 0 .5em;
}
.w3layouts_banner_bottom_left p{
	color:#999;
	line-height:2em;
}
.w3layouts_banner_bottom_left h4 span {
    color: #cf0000;
    font-size: 2em;
}
.w3layouts_banner_bottom_left img{
	margin:0 auto;
}
/*-- //banner --*/
/*-- Session 2--*/
.container {
    margin-top: 20px;
}
.Session_2_Title{
    padding: 2em;
}
/* Carousel Styles */
.carousel-indicators .active {
    background-color: #2980b9;
}
.carousel-inner img {
    width: 100%;
    max-height: 460px
}
.carousel-control {
    width: 0;
}
.carousel-control.left,
.carousel-control.right {
	opacity: 1;
	filter: alpha(opacity=100);
	background-image: none;
	background-repeat: no-repeat;
	text-shadow: none;
}
.carousel-control.left span {
	padding: 15px;
}
.carousel-control.right span {
	padding: 15px;
}
.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right, 
.carousel-control .icon-prev, 
.carousel-control .icon-next {
	position: absolute;
	top: 45%;
	z-index: 5;
	display: inline-block;
}
.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
	left: 0;
}
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
	right: 0;
}
.carousel-control.left span,
.carousel-control.right span {
	background-color: #000;
}
.carousel-control.left span:hover,
.carousel-control.right span:hover {
	opacity: .7;
	filter: alpha(opacity=70);
}
/* Carousel Header Styles */
.header-text {
    position: absolute;
    top: 20%;
    left: 50%;
    right: 1.8%;
    width: 96.66666666666666%;
    color: #fff;
}
.header-text h2 {
    font-size: 3vw;
}
.header-text h2 span {
    background-color: #2980b9;
	padding: 10px;
}
.header-text h3 span {
	background-color: #000;
    padding: 15px;
    display: block;
    width: 50%;
    overflow-wrap: break-word;
    font-size: 3vw;
}
.btn-min-block {
    min-width: 170px;
    line-height: 26px;
}
.btn-theme {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    margin-right: 15px;
}
.btn-theme:hover {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}
/*-- //Session 2 --*/
/*---- PRODUCT DETAIL ------*/
.product_box{
    max-width: 945px;
    margin: 0 auto;
    box-shadow: 0 0 62px rgba(0,0,0,0.3);
    position: relative;
}
@media only screen and (max-width:991px){
    .product_box{
        max-width:750px;
    }
}
.product_img_gallery{
    float: left;
    width: 550px;
    display: flex;
    background-color: #818181;
    height: 500px;
    flex-direction: column;
    justify-content: center;
    text-align: -webkit-center;
}
@media only screen and (max-width:991px){
    .product_img_gallery{
        width:350px;
    }
}
@media only screen and (max-width:800px){
    .product_img_gallery{
        width:100%;
        text-align:-webkit-center;
        height:auto;
    }
}  
#product-img{
    
}
.d-block{
    
}
.w-100{
    width: 550px;
}
.product_desc{
    float: left;
    width: calc(100% - 550px);
    padding: 48px 37px 40px 35px;
    overflow-x: hidden;
    overflow-y: visible;
}
@media only screen and (max-width:991px){
    .product_desc{
        width: calc(100% - 350px);
        padding: 40px 35px;
    }
}
@media only screen and (max-width:800px){
    .product_desc{
        width: 100%;
        padding: 40px 35px;
    }
}
.name{
    color: #848e96;
    text-transform: uppercase;
    font: 400 20px/1 "Poppins",sans-serif;
    margin: 0 0 8px;
}
.edition{
    color: #374048;
    text-transform: uppercase;
    font: 700 33px/1 "Poppins",sans-serif;
    margin: 0 0 10px;
}
.model{
    color: #a8afb5;
    text-transform: uppercase;
    font: 300 16px/1 "Poppins",sans-serif;
    margin: 0 0 20px;
}
.price{
    color: #0084ff;
    font: 600 21px/22px "Poppins",sans-serif;
    margin: 15px 0 25px;
    text-transform: uppercase;
}
.price del{
    color: #808890;
    font-size: 18px;
    font-weight: 300;
    margin-right: 10px;
}
.promo{
    background: #ff840f;
    padding: 3px 15px 0;
    font: 600 11px/15px "Poppins",sans-serif;
    position: relative;
    vertical-align: middle;
    top: -2px;
    width: 100px;
    display: inline-block;
    color: #fff;
}
.description{
    border-color: #eee;
    padding: 32px 0;
    border-top: 1px solid;
    color: #818181;
    border-bottom: 1px solid;
}
.soluong{
    color: #6c6e71;
    text-transform: uppercase;
    margin: 12px 0 12px;
    font: 500 16px/1 "Poppins",sans-serif;
    float:left;
    width:92px;
}
.input-g{
    position: relative;
    display: table;
    border-collapse: separate;
    width: 86px;
}
.input-g input{
    width: 48px !important;
    box-shadow: none;
    height: 44px;
    padding: 0;
    text-align: center;
    /* margin: 10px 0px; */
    border-color: #e0e8ee;
}
.muiten{
    position: relative;
    white-space: nowrap;
    width: 38px;
    height: 22px;
    border-color: #e0e8ee;
    padding: 0px;
    border-radius: 0 !important;
    vertical-align: middle;
    display: table-cell;
    outline: none !important;
}
.muiten:hover,
.muiten:active,
.muiten:focus{
    background-color: #fff;
}
.muitenlen{
    border-radius: 0;
    width: 38px;
    text-align: center;
    padding: 0;
    display: block;
    margin-left: 0;
}
.muitenxuong{
    border-radius: 0;
    width: 38px;
    text-align: center;
    padding: 0;
    display: block;
    margin-left: 0;
}
.submit{
    float: left;
    display: block;
    text-align: center;
    width: calc(100% - 92px);
    padding: 5px 20px;
}
.submit_button{
    text-transform: uppercase;
    border: none;
    display: block;
    transition: all 300ms linear 0s;
    background: #0084ff;
    color: #FFF;
    overflow: hidden;
    border-radius: 4px;
    font: 600 20px/80px "Poppins",sans-serif;
    text-overflow: ellipsis;
    /*padding: 2px 33px 0;*/
}
.submit_button:hover{
    text-transform: uppercase;
    border: none;
    display: block;
    background: #444;
    color: #FFF;
    overflow: hidden;
    border-radius: 4px;
    font: 600 20px/80px "Poppins",sans-serif;
    text-overflow: ellipsis;
}
@media only screen and (max-width:800px){
    .edition{
    color: #374048;
    text-transform: uppercase;
    font: 700 8vw/1 "Poppins",sans-serif;
    margin: 0 0 10px;
    }
    .submit_button{
        font: 600 5vw/80px "Poppins",sans-serif;
    }
    .submit_button:hover{
        font: 600 5vw/80px "Poppins",sans-serif;
    }
}
@media only screen and (max-width:378px){
    .submit_button{
        font: 600 5vw "Poppins",sans-serif;
        height: 80px;
        padding: 18px 0;
    }
    .submit_button:hover{
        font: 600 5vw "Poppins",sans-serif;
        height: 80px;
        padding: 18px 0;
    }
}
.personal-info{
    transition: all 0.8s ease-in-out;
    opacity: 0;
    -webkit-transform: translateX(110%);
    -ms-transform: translateX(110%);
    transform: translateX(110%);
    position: absolute;
    top: 0;
}
.slide-in-right {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
}
.slide-out-left {
    -webkit-transform: translateX(-110%);
    -ms-transform: translateX(-110%);
    transform: translateX(-110%);
    opacity: 0;
}
/*---- Slide sản phẩm FLEXISEL ---*/
nbs-flexisel-container {
    position:relative;
    max-width:100%;
}
.nbs-flexisel-ul {
    position:relative;
    width:99999px;
    margin:0px;
    padding:0px;
    list-style-type:none;   
    text-align:center;  
    overflow: auto;
}
.nbs-flexisel-inner {
    position: relative;
    overflow: hidden;
    float:left;
    width:100%;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    margin-bottom: 50px;
}
.nbs-flexisel-item {
    float: left;
    margin: 0px;
    padding: 0px 5px;
    cursor: pointer;
    position: relative;
    line-height: 25px;
}
.nbs-flexisel-item img {
    max-width: 100%;
    cursor: pointer;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}
/*** FLEXISEL Navigation ***/
.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    padding:5px 10px;
    border-radius:15px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;      
    position: absolute;
    cursor: pointer;
    z-index: 4;
    top: 50%;
    transform: translateY(-50%);   
    background: rgba(0,0,0,0.5);
    color: #fff;     
}
.nbs-flexisel-nav-left {
    left: 10px;
}
.nbs-flexisel-nav-left:before {
    content: "<"
}
.nbs-flexisel-nav-left.disabled {
    opacity: 0.4;
}
.nbs-flexisel-nav-right {
    right: 5px;    
}
.nbs-flexisel-nav-right:before {
    content: ">"
}
.nbs-flexisel-nav-right.disabled {
    opacity: 0.4;
}
/*--//flexisel--*/
/*-- CUISINE --*/
.w3_cuisine_names_left{
	float:left;
	width:28%;
	margin:2em 0 0;
}
.w3ls_cuisine_names_left{
	float:left;
	width:44%;
}
.w3_cuisine_names_left h3{
	font-size: 1em;
    color: #212121;
    font-weight: 600;
    margin-bottom: 1.5em;
}
.w3l_cuisine_names_left{
	text-align:right;
}
.w3ls_cuisine_names_left img {
    margin: 0 auto;
}
/*-- //CUISINE --*/
/*-- reservation --*/
.reservation{
	background: url(../images/tet.png) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    height:60%;
}
.agileits_head{
	text-align:center;
	font-size:2em;
	color:#fff;
	position:relative;
}
.agileits_head i{
	display:block;
	color:#f4b305;
    font-size: 25px;
    display: block;
}
.agileits_head:before,.agileits_head:after{
	content: " ";
    position: absolute;
    top:80%;
    width: 10%;
    height: 2px;
    background: #f4b305;
}
.agileits_head:before{
	left:36%;
}
.agileits_head:after{
	right:36%;
}
.agileinfo_para{
	text-align:center;
	color:#fff;
	margin:2em 0 0em;
}
.agileinfo_para span{
	color:#cf0000;
}
.input {
	position: relative;
    z-index: 1;
    display: inline-block;
    margin: 2em;
    max-width: 510px;
    width: calc(100% - 0em);
    vertical-align: top;
}
.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-weight: 400;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}
.input__field:focus {
	outline: none;
}
.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color:#fff;
	font-weight: bold;
	font-size: 1em;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}
/** RESERVATION MOBILE **/
@media only screen and (max-width:1280px){
    .reservation{
        height:35%;
    }
}
@media only screen and (max-width:800px){
    .reservation{
        height:35%;
    }
}
@media only screen and (max-width:480px){
    .reservation{
        background-position: -20px 0;
        height: 30%;
    }
}
/* Nao */
.input--nao {
	overflow: hidden;
	padding-top: 1.5em;
}

.input__field--nao {
	padding: 0.5em 0em 0.25em;
	width: 100%;
	background: transparent;
	color: #9da8b2;
	font-size:1em;
}

.input__label--nao {
	position: absolute;
	top: 0.95em;
	font-size: 0.85em;
	left: 0;
	display: block;
	width: 100%;
	text-align: left;
	padding: 0em;
	pointer-events: none;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transition: -webkit-transform 0.2s 0.15s, color 1s;
	transition: transform 0.2s 0.15s, color 1s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

.graphic--nao {
	stroke: #92989e;
	pointer-events: none;
	-webkit-transition: -webkit-transform 0.7s, stroke 0.7s;
	transition: transform 0.7s, stroke 0.7s;
	-webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
	transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
} 

.input__field--nao:focus + .input__label--nao,
.input--filled .input__label--nao {
	color: #999;
	-webkit-transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
	transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
}

.input__field--nao:focus ~ .graphic--nao,
.input--filled .graphic--nao {
	stroke: #999;
	-webkit-transform: translate3d(-66.6%, 0, 0);
	transform: translate3d(-66.6%, 0, 0);
}
.graphic {
    position: absolute;
    top: 0;
    left: 0;
    fill: none;
}
.agileinfo_select, .wthree_time {
    width: 28% !important;
}
.agileinfo_select{
	display: inline-block;
    margin: 2em;
    padding-top: 2em;
}
.agileinfo_select select,.agileinfo_select input[type="text"]{
	width: 100%;
    border: none;
    border-bottom: 2px solid rgba(133, 133, 133, 0.5);
    padding: 0;
    color: #fff;
    font-weight: bold;
    font-size: .89em;
    background: none;
    outline: none;
}
option {
    background: #d7d7d7;
    color: #212121;
    font-weight: 600;
}
.reservation input[type="submit"]{
	width: 25%;
    border: none;
    border-bottom: 2px solid rgb(0, 123, 207);
    padding: 0;
    color: #fff;
    font-weight: bold;
    font-size: 1em;
    background: none;
    outline: none;
    text-transform: uppercase;
    margin:1em 0 0 31em;
    letter-spacing: 5px;
}
/*-- delicious-food --*/
.w3_agileits_head{
	color:#212121 !important;
}
.agile_delicious_food_grids{
	margin:2em 0 0;
}
.agile_delicious_food_grid{
	float:left;
	width:33.33%;
}
.view {
    border: 5px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    -webkit-box-shadow: 1px 1px 2px #e6e6e6;
    -moz-box-shadow: 1px 1px 2px #e6e6e6;
    box-shadow: 1px 1px 2px #e6e6e6;
}
.view .mask,.view .content {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	height: 100%;
    width: 100%;
}
.view img {
   display: block;
   position: relative;
}
.view h4 {
   text-transform: uppercase;
   color: #fff;
   text-align: center;
   position: relative;
   font-size: 1.2em;
   padding: 10px;
   background: rgba(0, 0, 0, 0.8);
   margin: 20px 0 0 0;
}
.view p {
   font-style: italic;
    font-size: 13px;
    position: relative;
    color: #fff;
    padding: 2em 2em 0;
    text-align: center;
}
.view-sixth img {
   -webkit-transition: all 0.4s ease-in-out 0.5s;
   -moz-transition: all 0.4s ease-in-out 0.5s;
   -o-transition: all 0.4s ease-in-out 0.5s;
   -ms-transition: all 0.4s ease-in-out 0.5s;
   transition: all 0.4s ease-in-out 0.5s;
}
.view-sixth .mask {
   background-color:rgba(180, 178, 178, 0.5);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.3s ease-in 0.4s;
   -moz-transition: all 0.3s ease-in 0.4s;
   -o-transition: all 0.3s ease-in 0.4s;
   -ms-transition: all 0.3s ease-in 0.4s;
   transition: all 0.3s ease-in 0.4s;
}
.view-sixth h4 {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   border-bottom: 1px solid #fff;
   background: transparent;
   margin: 20px 40px 0px 40px;
   -webkit-transform: scale(10);
   -moz-transform: scale(10);
   -o-transform: scale(10);
   -ms-transform: scale(10);
   transform: scale(10);
   -webkit-transition: all 0.3s ease-in-out 0.1s;
   -moz-transition: all 0.3s ease-in-out 0.1s;
   -o-transition: all 0.3s ease-in-out 0.1s;
   -ms-transition: all 0.3s ease-in-out 0.1s;
   transition: all 0.3s ease-in-out 0.1s;
}
.view-sixth p {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transform: scale(10);
   -moz-transform: scale(10);
   -o-transform: scale(10);
   -ms-transform: scale(10);
   transform: scale(10);
   -webkit-transition: all 0.3s ease-in-out 0.2s;
   -moz-transition: all 0.3s ease-in-out 0.2s;
   -o-transition: all 0.3s ease-in-out 0.2s;
   -ms-transition: all 0.3s ease-in-out 0.2s;
   transition: all 0.3s ease-in-out 0.2s;
}
.view-sixth:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transition-delay: 0s;
   -moz-transition-delay: 0s;
   -o-transition-delay: 0s;
   -ms-transition-delay: 0s;
   transition-delay: 0s;
}
.view-sixth:hover img {
   -webkit-transition-delay: 0s;
   -moz-transition-delay: 0s;
   -o-transition-delay: 0s;
   -ms-transition-delay: 0s;
   transition-delay: 0s;
}
.view-sixth:hover h4 {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -o-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   -webkit-transition-delay: 0.1s;
   -moz-transition-delay: 0.1s;
   -o-transition-delay: 0.1s;
   -ms-transition-delay: 0.1s;
   transition-delay: 0.1s;
}
.view-sixth:hover p {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -o-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   -webkit-transition-delay: 0.2s;
   -moz-transition-delay: 0.2s;
   -o-transition-delay: 0.2s;
   -ms-transition-delay: 0.2s;
   transition-delay: 0.2s;
}
/*-- footer --*/
.footer{
	background:#212121;
}
.w3ls_footer_grid_left{
	float:left;
	width:65%;
}
.w3ls_footer_grid_right{
	float: right;
    width: 35%;
    text-align: right;
    margin: 2em 0 0;
}
.w3ls_footer_grid_left1{
	position:relative;
}
.w3ls_footer_grid_left1 h2{
	font-size: 3.5em;
    color: #363636;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
}
.w3ls_footer_grid_left1_pos{
	position:absolute;
	bottom:-5%;
	left:0%;
}
.w3ls_footer_grid_left1_pos ul li{
	display:inline-block;
	margin-right:2em;
}
.w3ls_footer_grid_left1_pos ul li a{
	color:#fff;
	text-decoration:none;
	font-family: 'Open Sans', sans-serif;
}
.w3ls_footer_grid_left1_pos ul li a i{
	padding-right: 1em;
}
.w3ls_footer_grid_left1_pos ul li a.facebook i{
	color:#3b5998;
}
.w3ls_footer_grid_left1_pos ul li a.twitter i{
	color:#1da1f2;
}
.w3ls_footer_grid_left1_pos ul li a.google i{
	color:#dd4b39;
}
.w3ls_footer_grid_left1_pos ul li a.instagram i{
	color:#833ab4;
}
.w3ls_footer_grid_left1_pos ul li a.facebook:hover{
	color:#3b5998;
}
.w3ls_footer_grid_left1_pos ul li a.twitter:hover{
	color:#1da1f2;
}
.w3ls_footer_grid_left1_pos ul li a.google:hover{
	color:#dd4b39;
}
.w3ls_footer_grid_left1_pos ul li a.instagram:hover{
	color:#833ab4;
}
.w3ls_footer_grid_left1_pos ul li a:hover i{
	color:#fff;
}
.w3ls_footer_grid_right ul li{
	display:inline-block;
	text-transform:uppercase;
	margin-left:1.5em;
}
.w3ls_footer_grid_right ul li:first-child{
	margin-left:0em;
}
.w3ls_footer_grid_right ul li a{
	color:#fff;
	font-weight:bold;
	text-decoration:none;
	font-family: 'Open Sans', sans-serif;
}
.w3ls_footer_grid_right ul li a:hover{
	color:#007bcf;
}
.w3_agile_copyright{
	margin:2em 0 0;
	padding:2em 0 0;
	border-top:1px solid #fff;
}
.w3_agile_copyright p{
	color:#fff;
	text-align:center;
	line-height:2em;
	font-family: 'Open Sans', sans-serif;
}
.w3_agile_copyright p a{
	color:#f4b305;
	text-decoration:underline;
}
/*-- newsletter --*/
.newsletter{
	background:url(../images/16.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
}
.newsletter form{
	margin: 3em auto 0;
    width: 60%;
	text-align: center;
}
.newsletter input[type="email"]{
	outline:none;
	border:1px solid #999;
	background:rgba(0, 0, 0, 0.36);
	color:#999;
	padding:10px;
	font-size:14px;
	width:100%;
}
.newsletter input[type="submit"]{
	outline: none;
    border: none;
    background: none;
    color: #fff;
    font-size: 14px;
    width: 40%;
    text-align: center;
    padding: 2em 0 0.5em;
    border-bottom: 2px solid #007bcf;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
}
.newsletter input[type="submit"]:hover,.reservation input[type="submit"]:hover{
	color:#f4b305;
	border-bottom: 2px solid #fff;
}
/*-- //newsletter --*/
.btn {
    display: inline-block;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
	font-weight:700;
}
/* Button 3 */
.btn-3 {
	background: #f4b305;
	color: #fff;
}

.btn-3:hover {
	background: #f29e0d;
}
.btn-3:before {
	position: absolute;
    left: 0;
    top: 0;
    line-height:2.2;
    font-size: 1.2em;
    width: 25px;
}
.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.icon-arrow-right:before {
    content: "\f061";
	font-family:FontAwesome;
}
/* Button 3e */
.btn-3e {
	padding:8px 70px 8px 25px;
	overflow: hidden;
}

.btn-3e:before {
	left: auto;
	right: 10px;
	z-index: 2;
}

.btn-3e:after {
	width: 35%;
    height:160%;
    background: rgba(255, 255, 255, 0.26);
	z-index: 1;
	right: 0;
	top: 0;
	margin: -5px 0 0 -5px;
	-webkit-transform-origin: 0 0;
	-webkit-transform: rotate(-20deg);
	-moz-transform-origin: 0 0;
	-moz-transform: rotate(-20deg);
	-ms-transform-origin: 0 0;
	-ms-transform: rotate(-20deg);
	transform-origin: 0 0;
	transform: rotate(-20deg);
	
}

.btn-3e:hover:after {
	width: 40%;
}
/*-- banner1 --*/
.banner1{
	background: url(../images/17.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 110px;
}
.breadcrumbs{
	padding:.5em 0;
	background:#f5f5f5;
}
.w3layouts_breadcrumbs_left{
	float:left;
}
.w3layouts_breadcrumbs_left ul li{
	display:inline-block;
	color:#212121;
	text-transform:uppercase;
	font-weight:600;
	font-family: 'Open Sans', sans-serif;
}
.w3layouts_breadcrumbs_left ul li i{
	padding-right:1em;
}
.w3layouts_breadcrumbs_left ul li span{
	padding:0 1em;
}
.w3layouts_breadcrumbs_left ul li a{
	color:#cf0000;
	text-decoration:none;
}
.w3layouts_breadcrumbs_right{
	float:right;
}
.w3layouts_breadcrumbs_right h3{
	font-size:1.5em;
	color:#212121;
}
/*-- menu --*/
.w3l_sandwich{
	font-size:2em;
	color:#212121;
	text-align:center;
	text-transform:capitalize;
}
.w3ls_sandwich_para img{
	margin:0 auto;
}
.agileits_sandwich_para{
	padding: 0em 0 2em;
    color: #999;
    line-height: 2em;
    text-align: center;
    border-bottom: 3px double #e6e6e6;
	margin-bottom:1em;
}
.agileinfo_sandwiches_left{
	float:left;
	width:50%;
	padding-right:1em;
}
.agileinfo_sandwiches_right{
	float:right;
	width:50%;
	padding-left:1em;
}
.wthree_sandwich_grid h4{
	font-size:1.3em;
	color:#212121;
	text-transform: capitalize;
}
.wthree_sandwich_grid h4 span{
	font-size:1.3em;
	color:#cf0000;
}
.wthree_sandwich_grid p{
	margin:1em 0 0;
	color:#999;
	line-height:2em;
}
.wthree_sandwich_grid {
    padding: 1em 0 0;
}
.w3_agileits_sea{
	margin:2em 0;
}
/*-- blog --*/
.agileits_w3layouts_blog{
	padding:1em;
	background:#f5f5f5;
}
.agileits_w3layouts_blog h3{
	font-size:1.2em;
	color:#cf0000;
	text-transform:capitalize;
	line-height: 1.5em;
}
.agileits_w3layouts_blog h3 a{
	color:#cf0000;
	text-decoration:none;
}
.agileits_w3layouts_blog h3 a:hover{
	color:#212121;
}
.agileits_w3layouts_blog p{
	color: #999;
    line-height: 2em;
    margin: .5em 0;
}
.agileits_w3layouts_blog ul li{
	display:inline-block;
	color:#999;
}
.agileits_w3layouts_blog ul li a{
	color:#212121;
	text-decoration:none;
}
.agileits_w3layouts_blog ul li a:hover{
	color:#007bcf;
}
.agileits_w3layouts_blog ul li span{
	padding:0 1em;
}
.agileits_w3layouts_blog ul li i{
	padding-right:1em;
	color:#212121;
}
.agileits_w3layouts_blog:nth-child(2){
	margin:2em 0;
}
.agile_figure_slide,.w3l_list_users {
    margin: 1em 0 0;
}
.agileits_w3layouts_blog ul.w3_list_users {
    margin-bottom: 2em;
}
.w3_agile_btn:after {
    width: 27% !important;
}
.w3layouts_blog_grid p{
	position:relative;
	padding-left: 3em;
}
.w3layouts_blog_grid p:before,.agileinfo_team_grid h4:before{
	content: "\f10d";
    font-family: FontAwesome;
    position: absolute;
    top: 0%;
    left: 0%;
    font-size: 2em;
    color: #cf0000;
}
.w3ls_leave_reply h3{
	font-size: 1.5em;
    color: #212121;
    margin: 2em 0 0.5em;
}
.w3ls_leave_reply p{
	margin-bottom:2em;
	color:#999;
}
.w3ls_leave_reply p span{
	color:#cf0000;
}
.w3ls_leave_reply input[type="text"], .w3ls_leave_reply input[type="email"], .w3ls_leave_reply textarea {
    outline: none;
    background: #f5f5f5;
    border: 1px solid #d7d7d7;
    font-size: 14px;
    color: #212121;
    width: 100%;
    padding: 10px;
	margin-bottom:1em;
}
.w3ls_leave_reply textarea {
	min-height:100px;
}
.agileits_leave label {
    color: #212121;
    font-size: 14px;
    font-weight: 500;
}
.agileits_leave label i{
	color:#cf0000;
}
.w3ls_leave_reply input[type="submit"] {
    outline: none;
    background: #f4b305;
    border: none;
    font-size: 14px;
    color: #212121;
    width: 30%;
    padding: 10px 0;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}
.w3ls_leave_reply input[type="submit"]:hover{
	background:#cf0000;
	color:#fff;
}
/*-- team --*/
.agileits_team_para{
	text-align: center;
    color: #cf0000;
    line-height: 2em;
    width: 80%;
    margin: 2em auto;
    font-style: italic;
}
.agileinfo_team_grid{
	float:left;
	width:50%;
	padding: 0 1em;
}
.agileinfo_team_grid h4{
	font-size:14px;
	color:#999;
	line-height:2em;
	position:relative;
	padding-left:2.5em;
}
.agileinfo_team_grid .wthree_velit{
	margin:1em 0 0;
}
.countdown{
	background: url(../images/banner1.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}
.agileinfo_stats_grid{
	text-align:center;
	float:left;
	width:25%;
}
.agileinfo_stats_grid p{
	font-size: 2em;
    color:#fff;
    font-weight: bold;
}
.agileinfo_stats_grid h3{
	font-size: 1em;
    color: #f4b305;
    font-weight: bold;
}
.agile_team_grid{
	float:left;
	width:25%;
	text-align:center;
	padding: 0 .5em;
}
.w3_agileits_team_grids{
	margin:2em 0 0;
}
.agile_team_grid h4{
	font-size: 1.2em;
    color: #212121;
    margin: 1em 0 0.2em;
}
.agile_team_grid h5{
	color: #cf0000;
    font-size: .85em;
    margin-bottom: 1em;
}
/*--Typography--*/
.well {
    font-weight: 300;
    font-size: 14px;
}
.list-group-item {
    font-weight: 300;
    font-size: 14px;
}
li.list-group-item1 {
    font-size: 14px;
    font-weight: 300;
}
.typo p {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
}
.show-grid [class^=col-] {
    background: #fff;
	text-align: center;
	margin-bottom: 10px;
	line-height: 2em;
	border: 10px solid #f0f0f0;
}
.show-grid [class*="col-"]:hover {
	background: #e0e0e0;
}
.grid_3{
	margin-bottom:2em;
}
.xs h3, h3.m_1{
	color:#000;
	font-size:1.7em;
	font-weight:300;
	margin-bottom: 1em;
}
.grid_3 p{
	color: #999;
	font-size: 0.85em;
	margin-bottom: 1em;
	font-weight: 300;
}
.grid_4{
	background:none;
	margin-top:50px;
}
.label {
	font-weight: 300 !important;
	border-radius:4px;
}  
.grid_5{
	background:none;
	padding:2em 0;
}
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
	margin-bottom: 1em;
    color:#212121;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	border-top: none !important;
}
.tab-content > .active {
	display: block;
	visibility: visible;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	z-index: 0;
}
.badge-primary {
	background-color: #03a9f4;
}
.badge-success {
	background-color: #8bc34a;
}
.badge-warning {
	background-color: #ffc107;
}
.badge-danger {
	background-color: #e51c23;
}
.grid_3 p{
	line-height: 2em;
	color: #888;
	font-size: 0.9em;
	margin-bottom: 1em;
	font-weight: 300;
}
.bs-docs-example {
	margin: 1em 0;
}
section#tables  p {
	margin-top: 1em;
}
.tab-container .tab-content {
	border-radius: 0 2px 2px 2px;
	border: 1px solid #e0e0e0;
	padding: 16px;
	background-color: #ffffff;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding: 15px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	font-size: 0.9em;
	color: #999;
	border-top: none !important;
}
.tab-content > .active {
	display: block;
	visibility: visible;
}
.label {
	font-weight: 300 !important;
}
.label {
	padding: 4px 6px;
	border: none;
	text-shadow: none;
}
.alert {
	font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
	line-height:2em;
	margin-top:0.5em;
	margin-bottom: 0.5em;
}
li.list-group-item1 {
	line-height: 2.5em;
}
.input-group {
	margin-bottom: 20px;
}
.in-gp-tl{
	padding:0 1em;
}
.in-gp-tb{
	padding-right:1em;
}
.list-group {
	margin-bottom: 48px;
}
ol {
	margin-bottom: 44px;
}
h2.typoh2{
    margin: 0 0 10px;
}
@media (max-width:768px){
	.grid_5 {
		padding: 0 0 1em;
	}
	.grid_3 {
		margin-bottom: 0em;
	}
}
@media (max-width:640px){
	h1, .h1, h2, .h2, h3, .h3 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		margin-bottom: .5em;
	}
	.progress {
		height: 10px;
		margin-bottom: 10px;
	}
	ol.breadcrumb li,.grid_3 p,ul.list-group li,li.list-group-item1 {
		font-size: 14px;
	}
	.breadcrumb {
		margin-bottom: 10px;
	}
	.well {
		font-size: 14px;
		margin-bottom: 10px;
	}
	h2.typoh2 {
		font-size: 1.5em;
	}
	.label {
		font-size: 60%;
	}
	.in-gp-tl {
		padding: 0 1em;
	}
	.in-gp-tb {
		padding-right: 1em;
	}
}
@media (max-width:480px){
	.table h1 {
		font-size: 26px;
	}
	.table h2 {
		font-size: 23px;
	}
	.table h3 {
		font-size: 20px;
	}
	.label {
		font-size: 53%;
	}
	.alert,p {
		font-size: 14px;
	}
	.pagination {
		margin: 20px 0 0px;
	}
}
@media (max-width: 320px){
	.grid_4 {
		margin-top: 18px;
	}
	h3.title {
		font-size: 1.6em;
	}
	.alert, p,ol.breadcrumb li, .grid_3 p,.well, ul.list-group li, li.list-group-item1,a.list-group-item {
		font-size: 13px;
	}
	.alert {
		padding: 10px;
		margin-bottom: 10px;
	}
	ul.pagination li a {
		font-size: 14px;
		padding: 5px 11px;
	}
	.list-group {
		margin-bottom: 10px;
	}
	.well {
		padding: 10px;
	}
	.nav > li > a {
		font-size: 14px;
	}
	table.table.table-striped,.table-bordered,.bs-docs-example {
		display: none;
	}
}
/*--//Typography --*/
/*-- icons --*/
ul.bs-glyphicons-list li:hover {
    background: #000;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
}
ul.bs-glyphicons-list li:hover span {
    color: #fff;
}
.codes a {
    color: #999;
}
.row.fontawesome-icon-list {
    margin: 0;
}
.icon-box {
    padding: 8px 15px;
    background:rgba(149, 149, 149, 0.18);
    margin: 1em 0 1em 0;
    border: 5px solid #ffffff;
    text-align: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
    cursor: pointer;
} 
.icon-box:hover {
    background: #000;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	-moz-transition:0.5s all;
}
.icon-box:hover i.fa {
	color:#fff !important;
}
.icon-box:hover a.agile-icon {
	color:#fff !important;
}
.codes .bs-glyphicons li {
    float: left;
    width: 12.5%;
    height: 115px;
    padding: 10px; 
    line-height: 1.4;
    text-align: center;  
    font-size: 12px;
    list-style-type: none;	
}
.codes .bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}
.codes .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
} 
.codes .bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
h3.icon-subheading {
	font-size: 22px;
    color: #007bcf !important;
    margin: 30px 0 15px;
}
h3.agileits-icons-title {
    text-align: center;
    font-size: 30px;
    color: #000;
}
.icons a {
    color: #999;
}
.icon-box i {
    margin-right: 10px !important;
    font-size: 20px !important;
    color: #282a2b !important;
}
.bs-glyphicons li {
    float: left;
    width: 18%;
    height: 115px;
    padding: 10px;
    line-height: 1.4;
    text-align: center;
    font-size: 12px;
    list-style-type: none;
    background:rgba(149, 149, 149, 0.18);
    margin: 1%;
	cursor: pointer;
}
.bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
	color: #282a2b;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
} 
.bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
@media (max-width:991px){
	h3.agileits-icons-title {
		font-size: 28px;
	}
	h3.icon-subheading {
		font-size: 22px;
	}
}
@media (max-width:768px){
	h3.agileits-icons-title {
		font-size: 28px;
	}
	h3.icon-subheading {
		font-size: 20px;
	}
	.row {
		margin-right: 0;
		margin-left: 0;
	}
	.icon-box {
		margin: 0;
	}
}
@media (max-width: 640px){
	.icon-box {
		float: left;
		width: 50%;
	}
}
@media (max-width: 480px){
	.bs-glyphicons li {
		width: 31%;
	}
}
@media (max-width: 414px){
	h3.agileits-icons-title {
		font-size: 23px;
	}
	h3.icon-subheading {
		font-size: 18px;
	}
	.bs-glyphicons li {
		width: 31.33%;
	}
}
@media (max-width: 384px){
	.icon-box {
		float: none;
		width: 100%;
	}
}
@media (max-width: 375px){
	.w3_agileits_icons_page {
		margin: 25px 0 0 !important;
	}
}
/*-- //icons --*/
/*-- contact --*/
.w3_agile_contact_grid{
	float:left;
	width:40%;
}
.w3_agile_contact_grid1{
	float:right;
	width:55%;
}
.agile_contact_grids{
	margin:2em 0 0;
}
.w3_agile_contact_grid h4,.w3_agile_contact_grid1 h4{
	font-size:1.4em;
	color:#212121;
}
.w3_agile_contact_grid p.wthree_contact_para{
	margin:1em 0 0;
	color:#999;
	line-height:2em;
}
.agileinfo_mail_grids{
	margin-top:1em;
}
.agileits_w3layouts_contact_grid p i{
	width: 50px;
    height: 50px;
    background: #f5f5f5;
    line-height: 3.5em;
    border-radius: 50px;
    text-align: center;
	color:#212121;
}
.agileits_w3layouts_contact_grid{
	float:left;
	width: 50px;
    height: 50px;
    background: #f1f1f1;
    border-radius: 50px;
    text-align: center;
}
.agileits_w3layouts_contact_gridr{
	float:right;
	width:75%;
}
.agileits_w3layouts_contact_gridr p{
	color:#999;
	line-height:1.8em;
}
.agileits_w3layouts_contact_gridr p span{
	display:block;
	text-transform:uppercase;
	font-weight:600;
	color:#212121;
}
.agileits_w3layouts_contact_gridr p a{
	text-decoration:underline;
	color:#007bcf;
}
.agileits_w3layouts_contact_gridr p a:hover{
	color:#999;
}
.w3_agile_contact_grid1 form{
	margin-top:1em;
}
.w3_agile_contact_grid1 input[type="text"], .w3_agile_contact_grid1 input[type="email"], .w3_agile_contact_grid1 textarea {
    outline: none;
    width: 100%;
    background: #f7f7f7;
    color: #212121;
    padding: 10px;
    font-size: 14px;
    border: none;
    border-top: 2px solid #d9d7d7;
}
.w3_agile_contact_grid1 input[type="email"],.w3_agile_contact_grid1 textarea{
	margin:1em 0;
}
.w3_agile_contact_grid1 textarea{
	min-height:150px;
}
.w3_agile_contact_grid1 input[type="submit"]{
    outline: none;
    width: 40%;
    background: #007bcf;
    color: #fff;
    padding: 10px 0;
    font-size: 14px;
    border: none;
}
.w3_agile_contact_grid1 input[type="submit"]:hover{
	background:#f4b305;
}
.w3_map iframe{
	width:100%;
	min-height:200px;
	margin-bottom:-6px;
}
/*-- sign-in --*/
/*--//main--*/
.agileits-login {
    padding:3em;
	padding-bottom:0;
	background: #373737;
}
.agileits-login input[type="text"],.agileits-login input[type="password"],.agileits-login input[type="email"] {
    outline: none;
    font-size: 1em;
    color: #fff;
    padding: 10px;
    margin: 0;
    width:100%;
    border: none;
    border-bottom: 1px dashed #ccc;
    -webkit-appearance: none;
    margin-bottom: 2.5em;
    background: transparent;
}
.agileits-login input[type="text"]:focus,.agileits-login input[type="password"]:focus,.agileits-login input[type="email"]:focus{
    border-color: #d24747;
    border-bottom-style: double;
}
.agileits-login input[type="text"]::-webkit-input-placeholder,.agileits-login input[type="email"]::-webkit-input-placeholder,.agileits-login input[type="password"]::-webkit-input-placeholder {
   color: #fff;
}
/*-- checkbox --*/
.agileits-login label {
    font-size: 1em;
    color: #fff;
    font-weight: 400;
    cursor: pointer;
    position: relative;
}
 input.checkbox {
    background: #373737;
    cursor: pointer;
    width: 1.2em;
    height: 1.2em;
    display: inline-block;
    margin-right: .5em;
}
input.checkbox:before {
	content: "";
	position: absolute;
	width: 1.2em;
	height: 1.2em;
	background: inherit;
	cursor: pointer;
}
input.checkbox:after {
	content: "";
	transition: .4s ease-in-out;
	position: absolute;
	top: 0px;
	left: 0;
	z-index: 1;
	width: 1.2em;
	height: 1.2em;
	border: 1px solid #007bcf; 
}
input.checkbox:checked:after {
	transform: rotate(-45deg);
	height:1rem;
	border-color: #007bcf;
	border-top-color: transparent;
	border-right-color: transparent;
}
.anim input.checkbox:checked:after {
	transform: rotate(-45deg);
	height:1rem;
	border-color: transparent;
	border-right-color: transparent;
	animation: .4s rippling .4s ease;
	animation-fill-mode: forwards;
}
@keyframes rippling {
	50% {
		border-left-color: #007bcf;
	}
	100% {
		border-bottom-color: #007bcf;
		border-left-color: #007bcf;
	}
} 
/*-- //checkbox --*/ 
.wthree-text ul li {
    display: inline-block;
}
.wthree-text ul li:nth-child(2) {
    float: right;
}
.wthree-text ul li a {
    font-size: 1em;
    color: #fff;
	text-decoration: underline;
}
.wthree-text ul li a:hover{ 
    color:#cf0000;
}
.w3ls-submit {
    text-align: center;
    margin-top: 3em;
}
.submit-text {
    position: relative;
    display: inline-block;
}
.submit-text span{ 
    position: absolute;
    background: url(../images/i1.png)no-repeat 0px 0px;
    width: 63px;
    height: 30px;
    background-size: 100%;
    top: 17px;
    left: -34px;
	cursor:pointer;
}
.agileits-login input[type="submit"] {
    font-size: 1em;
    color: #fff;
    border: none;
    outline: none;
    padding: 1.1em 8em 1.1em 6em;
    -webkit-appearance: none;
    background:url(../images/i1.png)#007bcf no-repeat 195px 14px;
    font-weight: bold;
    letter-spacing: 5px;
}
.agileits-login input[type="submit"]:hover {
    background-position:165px 14px;
}
.agileits-login input[type="submit"].register{
    background-position:215px 14px;
}
.agileits-login input[type="submit"].register:hover{
    background-position:200px 14px;
}
/*-----start-responsive-design------*/
@media (max-width:1024px){
	.input {
		max-width: 412px;
	}
	.agileinfo_select, .wthree_time {
		width: 27% !important;
	}
	.reservation input[type="submit"] {
		margin: 1em 0 0 25.5em;
	}
}
@media (max-width:768px){
	.agileinfo_logo h1 a {
		font-size: 1em;
	}
	.agileinfo_logo h1 a span {
		width: 80%;
	}
	.input {
		max-width: 300px;
	}
	.agileinfo_select,.wthree_time{
		width:25% !important;
	}
	.reservation input[type="submit"] {
		margin: 1em 0 0 19em;
	}
}
@media (max-width:736px){
	.mobile-side-menu ul > li > a {
		padding: 0.5em 2em;
	}
	.agileits_banner_left h2 {
		font-size: 1.9em;
	}
	.input {
		max-width: 285px;
	}
	.agileinfo_select, .wthree_time {
		width: 24.8% !important;
	}
	.view p {
		padding: 1em 1em 0;
	}
	.newsletter input[type="submit"] {
		width: 48%;
	}
	.w3ls_footer_grid_left1_pos ul li {
		margin-right: 1em;
	}
	.wthree_sandwich_grid h4 {
		font-size: 1.25em;
	}
}
@media (max-width:667px){
	.mobile-side-menu ul > li > a {
		font-size: 12px;
	}
	.agileits_banner_left h2 {
		font-size: 1.7em;
	}
	.banner {
		min-height: 225px;
	}
	.w3layouts_banner_bottom_left h4 span {
		font-size: 1.8em;
	}
	.w3_cuisine_names_left h3 {
		font-size: .9em;
	}
	.input {
		max-width: 252px;
	}
	.agileinfo_select, .wthree_time {
		width: 23.9% !important;
	}
	.reservation input[type="submit"] {
		margin: 1em 0 0 18em;
	}
	.newsletter form {
		width: 70%;
	}
	.w3l_sandwich {
		font-size: 1.8em;
	}
	.wthree_sandwich_grid h4 {
		font-size: 1.2em;
	}
}
@media (max-width: 640px){
	.mobile-side-menu ul > li > a {
		padding: 1em 2em;
	}
	.mobile-side-menu ul > li:first-child {
		padding-top: 1.3em;
	}
	.agileinfo_logo h1 a {
		font-size: .9em;
	}
	.agileits_banner_left h2 {
		font-size: 1.6em;
	}
	.banner {
		min-height: 215px;
	}
	.agileits_banner_left {
		width: 60%;
	}
	.w3_agile_nav_main_right {
		margin-top: .3em;
	}
	.w3_cuisine_names_left h3 {
		font-size: .89em;
	}
	.agileits_head {
		font-size: 1.8em;
	}
	.agileits_head:before {
		left: 32%;
	}
	.agileits_head:after {
		right: 32%;
	}
	.agileits_head:before, .agileits_head:after {
		width: 15%;
	}
	.input {
		max-width: 280px;
		margin: 2em .5em;
	}
	.agileinfo_select {
		margin: 2em .5em;
	}
	.agileinfo_select, .wthree_time {
		width: 30.5% !important;
	}
	.reservation input[type="submit"] {
		margin: 1em 0 0 16em;
	}
	.view-sixth h4 {
		margin: 20px;
		padding: 0 0 10px;
	}
	.view p {
		padding: 0em 0.5em;
	}
	.w3ls_footer_grid_left {
		width: 66%;
	}
	.w3ls_footer_grid_left1_pos ul li:last-child {
		margin-right: 0;
	}
	.w3ls_footer_grid_right ul li {
		font-size: 12px;
		margin-left: 1em;
	}
	.w3ls_footer_grid_right {
		width: 34%;
	}
	.w3ls_footer_grid_left1 h2 {
		font-size: 3em;
	}
	.agileinfo_sandwiches_left {
		padding-right: .5em;
	}
	.agileinfo_sandwiches_right {
		padding-left: .5em;
	}
}
@media (max-width: 600px){
	.mobile-side-menu ul > li > a {
		padding: 0.7em 2em;
	}
	.agileits_banner_left h2 {
		font-size: 1.56em;
	}
	.agileits_banner_left {
		margin: 5em 0 0;
	}
	.banner {
		min-height: 200px;
	}
	.w3l_cuisine_names_left {
		text-align: center;
	}
	.w3_cuisine_names_left {
		float: none;
		width: 100%;
		margin: 0;
		text-align: center;
	}
	.w3_cuisine_names_left h3 {
		font-size: .9em;
	}
	.w3ls_cuisine_names_left {
		float: none;
		width: 100%;
		margin:1em 0;
	}
	.input {
		max-width: 260px;
	}
	.agileinfo_select, .wthree_time {
		width: 30.3% !important;
	}
	.reservation input[type="submit"] {
		font-size: 13px;
		width: 30%;
	}
	.view-sixth h4 {
		margin: 12px;
		font-size: 1em;
	}
	.w3ls_footer_grid_left,.w3ls_footer_grid_right {
		width: 100%;
		float: none;
		text-align: center;
	}
	.w3ls_footer_grid_right {
		margin: 1em 0 0;
	}
	.w3ls_footer_grid_left1_pos {
		left: 13%;
	}
	.agileinfo_sandwiches_left {
		padding-right:0;
		float: none;
		width: 100%;
	}
	.agileinfo_sandwiches_right {
		padding-left: 0;
		float: none;
		width: 100%;
	}
	.agileinfo_stats_grid h3 {
		font-size: .9em;
	}
	.agile_team_grid h4 {
		font-size: 1em;
	}
	.w3_agile_contact_grid1 input[type="submit"] {
		width: 50%;
	}
}
@media (max-width: 568px){
	.agileits_banner_left h2 {
		font-size: 1.47em;
	}
	.banner {
		min-height: 185px;
	}
	.input {
		max-width: 244px;
		margin: 1em .5em;
	}
	.agileinfo_select {
		margin: 1em .5em;
	}
	.agileinfo_select, .wthree_time {
		width: 30% !important;
	}
	.reservation input[type="submit"] {
		margin: 1em 0 0 15em;
	}
	.view-sixth h4 {
		margin: 12px 12px 8px;
	}
	.w3layouts_blog_grid p:before, .agileinfo_team_grid h4:before {
		font-size: 1.5em;
	}
	.agileinfo_team_grid h4 {
		padding-left: 2em;
	}
	.agileits-login {
		padding: 2em 2em 0;
	}
	.agileits-login input[type="submit"] {
		padding: 1.1em 7em 1.1em 4em;
		background: url(../images/i1.png)#007bcf no-repeat 160px 14px;
	}
	.agileits-login input[type="submit"]:hover {
		background-position: 145px 14px;
	}
	.mobile-side-menu {
		width: 165px;
	}
	.mobile-side-menu ul > li > a {
		padding: 0.1em 2em;
	}
	.agileits-login input[type="submit"].register {
		background-position: 195px 14px;
	}
	.agileits-login input[type="submit"].register:hover {
		background-position: 175px 14px;
	}
}
@media (max-width: 480px){
	.mobile-side-menu ul > li > a {
		padding: 1em 2em;
	}
	.agileinfo_logo h1 a {
		font-size: .8em;
	}
	.agileinfo_logo h1 a span:before, .agileinfo_logo h1 a span:after {
		top: -33%;
	}
	.agileinfo_logo {
		padding: 7em 0 0em;
	}
	.agileits_banner_left h2 {
		font-size: 1.22em;
	}
	.btn-3e {
		padding: 6px 70px 6px 25px;
	}
	.btn-3:before {
		font-size: 1.1em;
	}
	.agileits_banner_right {
		padding-top: 1.9em;
	}
	.banner-bottom, .reservation, .delicious_food, .footer, .newsletter, .menu, .countdown {
		padding: 2em 0;
	}
	.banner-bottom h3 {
		font-size: 1.3em;
	}
	.nbs-flexisel-inner {
		padding: 1em 0 0;
	}
	.agileits_head:before, .agileits_head:after {
		width: 25%;
	}
	.agileits_head:after {
		right: 20%;
	}
	.agileits_head:before {
		left: 20%;
	}
	.input {
		max-width: 100%;
		margin: 1em .0em 0;
	}
	.agileinfo_select {
		margin: 1em 0em 0;
	}
	.agileinfo_select, .wthree_time {
		width: 100% !important;
	}
	.reservation input[type="submit"] {
		margin: 2em 0 0 10.5em;
		width: 40%;
	}
	.agile_delicious_food_grid {
		float: none;
		width: 80%;
		margin: 0 auto;
	}
	.view-sixth h4 {
		margin: 80px 80px 8px;
		font-size: 1.5em;
	}
	.newsletter form {
		width: 100%;
		margin: 2em auto 0;
	}
	.w3ls_footer_grid_left1_pos {
		left: 5%;
	}
	.w3l_sandwich {
		font-size: 1.5em;
	}
	.w3layouts_breadcrumbs_right h3 {
		font-size: 1.3em;
	}
	.agileits_sandwich_para {
		padding: 0em 0 1em;
	}
	.agileits_w3layouts_blog ul li span {
		padding: 0 0.7em;
	}
	.agileits_w3layouts_blog ul li i {
		padding-right: .5em;
	}
	.agileinfo_team_grid {
		padding: 0 0.5em;
	}
	.agileits_team_para {
		width: 100%;
		margin: 1em auto 2em;
	}
	.agile_team_grid {
		width: 50%;
		margin-top:2em;
	}
	.w3_agileits_team_grids {
		margin: 0;
	}
	.w3_agile_contact_grid h4, .w3_agile_contact_grid1 h4 {
		font-size: 1.2em;
	}
	.w3_agile_contact_grid {
		float: none;
		width: 100%;
		margin-bottom: 2em;
	}
	.w3_agile_contact_grid1 {
		float: none;
		width: 100%;
	}
	.agileits_w3layouts_contact_gridr {
		width: 80%;
	}
	.agileits-login {
		padding: 1.5em 1.5em 0;
	}
	.agileits-login input[type="submit"] {
		padding: 1em 6em 1em 3em;
		background: url(../images/i1.png)#007bcf no-repeat 141px 17px;
		background-size: 15%;
	}
	.agileits-login input[type="submit"]:hover {
		background-position: 130px 17px;
	}
	.agileits-login input[type="submit"].register {
		background-position: 176px 17px;
	}
	.agileits-login input[type="submit"].register:hover {
		background-position: 160px 17px;
	}
}
@media (max-width: 414px){
	.agileits_banner_left h2 {
		font-size: 1.03em;
	}
	.agile_container {
		padding: .5em 2.51em;
	}
	.banner {
		min-height: 161px;
	}
	.agileits_banner_left {
		margin: 4em 0 0;
	}
	.btn {
		font-size: 13px;
	}
	.agileits_head {
		font-size: 1.6em;
	}
	.agileinfo_para {
		margin: 1em 0 0em;
	}
	.reservation input[type="submit"] {
		margin: 2em 0 0 8.5em;
	}
	.agile_delicious_food_grid {
		width: 90%;
	}
	.w3ls_footer_grid_left1_pos {
		left: -6%;
	}
	.agileits_w3layouts_blog ul li {
		margin-top: .5em;
	}
	.w3layouts_breadcrumbs_left ul li {
		font-size: 13px;
	}
	.w3layouts_breadcrumbs_left ul li i {
		padding-right: .5em;
	}
	.w3layouts_breadcrumbs_left ul li span {
		padding: 0 0.5em;
	}
	.agileits-login input[type="text"], .agileits-login input[type="password"], .agileits-login input[type="email"] {
		margin-bottom: 2em;
	}
	.w3ls_leave_reply input[type="submit"] {
		width: 100%;
	}
}
@media (max-width: 384px){
	.agileits_banner_left {
		width: 65%;
	}
	.agileits_banner_right {
		padding-top: 3.8em;
		width: 35%;
	}
	.agile_delicious_food_grid {
		width: 100%;
	}
	.w3ls_footer_grid_left1_pos ul li {
		margin-right: 0em;
	}
	.w3ls_footer_grid_left1_pos {
		left: -3%;
	}
	.w3layouts_breadcrumbs_left {
		float: none;
		text-align: center;
		margin-bottom: .5em;
	}
	.w3layouts_breadcrumbs_right {
		float: none;
		text-align: center;
	}
	.agileinfo_team_grid {
		padding: 0;
		float: none;
		width: 100%;
	}
	.agileinfo_team_grid:nth-child(2) {
		margin-top: 1em;
	}
}
@media (max-width: 375px){
	.agileits_banner_left h2 {
		font-size: 1em;
	}
	.banner {
		min-height: 158px;
	}
	.newsletter input[type="submit"] {
		width: 55%;
	}
	.w3ls_footer_grid_left1_pos ul li {
		margin-right: 1em;
	}
	.w3layouts_breadcrumbs_left ul li {
		font-size: 11px;
	}
	.wthree-text ul li:nth-child(2) {
		margin-top: 0.4em;
	}
}
@media (max-width: 370px){
	.agileinfo_logo h1 a {
		font-size: .7em;
	}
	.agileinfo_logo h1 a span:before {
		left: -20%;
	}
	.agileinfo_logo h1 a span:after {
		right: -20%;
	}
	.agileinfo_logo h1 a span:before, .agileinfo_logo h1 a span:after {
		background: url(../images/1.png) no-repeat 0px 4px;
		background-size: 100%;
		height: 25px;
		width: 20px;
	}
	.agileits_banner_left h2 {
		font-size: 0.83em;
	}
	.btn-3e {
		padding: 6px 57px 6px 25px;
	}
	.btn {
		font-size: 11px;
	}
	.agileits_banner_right {
		padding-top: 2.8em;
	}
	.banner {
		min-height: 125px;
	}
	.agileits_banner_left {
		margin: 3em 0 0;
	}
	.w3layouts_banner_bottom_left h4 span {
		font-size: 1.5em;
	}
	p,.newsletter input[type="email"],.agileits-login input[type="text"], .agileits-login input[type="password"], .agileits-login input[type="email"],.w3_agile_contact_grid1 input[type="text"], .w3_agile_contact_grid1 input[type="email"], .w3_agile_contact_grid1 textarea,.agileits_w3layouts_blog ul li,.w3ls_leave_reply input[type="text"], .w3ls_leave_reply input[type="email"], .w3ls_leave_reply textarea,.agileits_leave label{
		font-size: 13px;
	}
	.agileits_head {
		font-size: 1.4em;
	}
	.view-sixth h4 {
		margin: 54px 65px 8px;
		font-size: 1.2em;
	}
	.newsletter input[type="submit"] {
		width: 65%;
		font-size: 13px;
		padding: 1em 0 0.5em;
	}
	.w3_agile_copyright {
		margin: 1em 0 0;
		padding: 1em 0 0;
	}
	.wthree_sandwich_grid h4 {
		font-size: 1em;
	}
	.toggleMenu a {
		font-size: 13px;
	}
	.toggleMenu {
		padding: 4px 25px;
	}
	.w3_agile_nav_main_right {
		margin-top: 0;
	}
	.banner1 {
		min-height: 75px;
	}
	.w3l_sandwich {
		font-size: 1.3em;
	}
	.agileits_w3layouts_blog h3 {
		font-size: 1.1em;
	}
	.w3layouts_blog_grid p {
		padding-left: 2em;
	}
	.agileits_w3layouts_blog ul.w3_list_users {
		margin-bottom: 1em;
	}
	.w3ls_leave_reply h3 {
		font-size: 1.3em;
		margin: 1em 0 0.5em;
	}
	.w3ls_leave_reply p {
		margin-bottom: 1em;
	}
	.agileinfo_stats_grid {
		width: 50%;
	}
	.agileinfo_stats_grid:nth-child(2) {
		margin-bottom: 1em;
	}
	.agileits_w3layouts_contact_gridr {
		width: 76%;
	}
	.w3_agile_contact_grid1 input[type="submit"] {
		width: 100%;
	}
	.agileits-login {
		padding: 1em 1em 0;
	}
	.agileits-login label,.wthree-text ul li a {
		font-size: 12px;
	}
	.wthree-text ul li:nth-child(2) {
		margin-top: 0.2em;
	}
	.w3ls-submit {
		margin-top: 2em;
	}
	.agileits-login input[type="submit"] {
		padding: 0.8em 6em 0.8em 3em;
		background:url(../images/i1.png)#007bcf no-repeat 125px 15px;
		background-size: 15%;
		letter-spacing: 3px;
		font-size:13px;
	}
	.agileits-login input[type="submit"]:hover {
		background-position: 110px 15px;
	}
	.agileits-login input[type="submit"].register {
		background-position: 155px 15px;
	}
	.agileits-login input[type="submit"].register:hover {
		background-position: 140px 15px;
	}
	.reservation input[type="submit"] {
		margin: 2em 0 0 5.5em;
		width: 55%;
	}
	.agileits_head i {
		font-size: 16px;
	}
	.reservation {
		background-position:-30px 0px;
        height: 25%;
	}
}